.warp {
    width: 100%;
    display: block;

    .banner {
        width: 100%;
        height: 585px;
        display: block;
        position: relative;
        margin-bottom: 70px;

        .img {
            width: 100%;
            height: 585px;
            display: block;

            li {
                display: none;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    display: block;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    filter: blur(0px);
                }
            }

            .active {
                display: block;
            }
        }

        .nav-img {
            position: absolute;
            left: 50%;
            bottom: 100px;
            transform: translateX(-50%);
            z-index: 99;

            li {
                width: 10px;
                height: 10px;
                margin-right: 15px;
                background: #fff;
                float: left;
                cursor: pointer;
            }

            .active {
                background: red;
            }
        }

        .model {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 9;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;

            .sp1 {
                font-size: 30px;
                display: block;
                text-align: center;
                margin-top: 200px;
                color: #fff;
                font-family: robocom;
            }

            .sp2 {
                font-size: 30px;
                display: block;
                text-align: center;
                margin-top: 20px;
                color: #fff;
                font-family: robocom;
            }

            .sp3 {
                width: 128px;
                border: 1px solid #fff;
                background: #fff;
                height: 34px;
                display: block;
                text-align: center;
                line-height: 34px;
                font-size: 15px;
                margin: 0 auto;
                margin-top: 20px;
                background: rgba(255, 255, 255, 0.5);
                color: #fff;
                cursor: pointer;
                font-family: robocom;
            }
        }
    }

    .inner {
        width: 1190px;
        margin: 0 auto;
        height: 100%;

        .event_intro {
            font-family: robocom;
            font-size: 20px;
            text-align: center;
            display: block;
            margin-bottom: 70px;
            font-weight: bold;
        }

        .event_img {
            width: 1190px;
            height: 295px;
            background: #f2f2f2;
            margin: 0 auto;
            margin-bottom: 70px;
        }

        .event_details {
            font-family: robocom;
            font-size: 14px;
            display: block;
            margin-bottom: 60px;
            text-align: center;
            line-height: 20px;
            padding: 0px 30px;
        }

        .show_more {
            display: block;
            margin: 0 auto;
            margin-bottom: 70px;
            width: 80px;
            cursor: pointer;

            img {
                display: block;
                width: 100%;
            }
        }

        .t1 {
            width: 100%;
            margin-bottom: 103px;

            .title-img {
                width: 600px;
                display: block;
                float: left;

                .img1 {
                    border: 2px solid #0088ff;
                    border-right: 0px;
                    margin-right: 20px;
                    padding: 14px;
                    box-sizing: border-box;
                    width: 280px;
                    height: 320px;
                    float: left;

                    img {
                        width: 250px;
                        height: 290px;
                    }
                }

                .img2 {
                    border: 2px solid #ccc;
                    border-left: 0px;
                    padding: 14px;
                    box-sizing: border-box;
                    width: 280px;
                    height: 320px;
                    float: left;

                    img {
                        width: 250px;
                        height: 290px;
                    }
                }
            }

            .title-content {
                width: 600px;
                float: right;

                .title {
                    line-height: 40px;
                    border-bottom: 2px solid #ccc;
                    height: 40px;
                    position: relative;

                    .sp1 {
                        font-size: 20px;
                        font-weight: bold;
                        color: #0088ff;
                        margin-left: 20px;
                    }

                    .sp2 {
                        font-size: 17px;
                        color: #ccc;
                        margin-left: 10px;
                    }

                    a {
                        font-size: 14px;
                        color: #ccc;
                        position: absolute;
                        top: 0px;
                        right: 20px;
                        line-height: 40px;
                        cursor: pointer;
                    }
                }

                ul {
                    width: 100%;

                    li {
                        list-style: disc;
                        display: block;
                        list-style: circle;
                        line-height: 35px;
                        color: black;
                        font-size: 14px;
                        height: 35px;

                        a {
                            margin-left: 20px;
                            display: block;
                            float: left;
                        }

                        i {
                            margin-right: 20px;
                            display: block;
                            float: right;
                        }
                    }
                }
            }
        }

        .t2 {
            width: 100%;
            margin-bottom: 100px;

            .title-content-item {
                width: 470px;
                display: block;

                .title {
                    line-height: 40px;
                    height: 40px;
                    position: relative;
                    border-radius: 10px 10px 0px 0px;

                    .sp1 {
                        font-size: 20px;
                        font-weight: bold;
                        color: #fff;
                        margin-left: 40px;
                    }

                    .sp2 {
                        font-size: 17px;
                        color: #ccc;
                        margin-left: 10px;
                    }
                }

                ul {
                    width: 100%;
                    position: relative;

                    li {
                        list-style: disc;
                        display: block;
                        list-style: circle;
                        line-height: 35px;
                        color: black;
                        font-size: 14px;
                        height: 35px;

                        a {
                            margin-left: 40px;
                            display: block;
                            float: left;
                        }
                    }

                    .more-click {
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                        color: #666;
                        line-height: 20px;
                        font-size: 12px;
                    }
                }
            }

            .title-content-left {
                float: left;
                margin-left: 110px;

                .title {
                    background: #23ac3a;
                }

                ul {
                    border: 2px solid #23ac3a;
                    box-sizing: border-box;
                    padding-top: 20px;
                    position: relative;

                    .more-click {
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                        color: #666;
                        line-height: 20px;
                        font-size: 12px;
                    }
                }
            }

            .title-content-right {
                float: right;
                margin-right: 110px;

                .title {
                    background: #f29700;
                }

                ul {
                    border: 2px solid #f29700;
                    box-sizing: border-box;
                    padding-top: 20px;
                    position: relative;

                    .more-click {
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                        color: #666;
                        line-height: 20px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .toEnroll {
        margin: 0 auto;
        position: relative;
        height: 54px;
        margin-bottom: 70px;

        img {
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .inner {
        width: 1190px;
        margin: 0 auto;
        height: 100%;

        .event_click {
            margin-bottom: 70px;
            // display: flex;

            li {
                display: block;
                float: left;
                position: relative;
                width: 500px;
                border: 1px solid #ccc;
                height: 270px;
                // flex: 1;
                // margin: 0px 75px;
                margin: 0px 40px;
                border-left: 7px solid red;

                .bg {
                    width: 500px;
                    height: 270px;
                }

                a {
                    position: absolute;
                    left: 30px;
                    bottom: -30px;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .event_information {
            width: 1190px;
            border: 2px dashed #d33b33;
            box-sizing: border-box;
            margin-bottom: 70px;
            position: relative;
            padding: 50px 0px;

            .title {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -10px;
                font-size: 22px;
                font-weight: bold;
                font-family: robocom;
                background: #fff;
                color: #d33b33;
                padding: 0px 20px;
            }

            ul {
                width: 600px;
                margin: 0 auto;

                li {
                    height: 35px;
                    line-height: 35px;
                    font-size: 15px;
                    display: flex;

                    a {
                        display: block;
                        float: left;
                        background: #fff;
                        flex: 1.7;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    b {
                        width: auto;
                        flex: 1;
                        border-bottom: 1px solid #ccc;
                        transform: translateY(-16px);
                        margin-left: 30px;
                    }

                    i {
                        display: block;
                        float: right;
                        background: #fff;
                        text-align: center;
                        flex: 1;
                    }
                }
            }
        }
    }


    .video_pic {
        width: 100%;
        height: 870px;
        background: #f7f7f7;
        padding-bottom: 70px;

        .inner {
            width: 1190px;
            margin: 0 auto;
            height: 100%;

            .title {
                text-align: center;
                display: block;
                font-family: robocom;
                color: #d33b33;
                font-size: 20px;
                font-weight: bold;
                line-height: 70px;
            }

            .video-model {
                width: 590px;
                // height: 300px;
                display: block;
                float: left;
                // border-radius: 10px;
                margin-bottom: 70px;

                video {
                    width: 590px;
                    // height: 300px;
                    display: block;
                    border-radius: 10px;
                    border: 1px solid #ccc;
                }
            }

            .publicity {
                display: block;
                float: left;
                margin-left: 50px;
                width: 550px;

                .sp1 {
                    font-size: 22px;
                    font-family: robocom;
                    color: #000000;
                    display: block;
                    line-height: 80px;
                    font-weight: bold;
                }

                .sp2 {
                    font-size: 14px;
                    font-family: robocom;
                    color: #000000;
                    line-height: 30px;
                }
            }

            .picture {
                clear: both;
                display: block;
                width: 100%;
                margin-bottom: 70px;
                display: block;

                .pic {
                    box-sizing: border-box;
                    position: relative;
                    overflow: hidden;
                    width: 384px;
                    height: 296px;
                    display: block;
                    float: left;
                    margin-left: 16px;

                    img {
                        width: 384px;
                        height: 296px;
                    }

                    .tips {
                        position: absolute;
                        left: 30px;
                        top: 0px;
                        width: 90px;
                        height: 90px;
                        background: red;
                        line-height: 45px;
                        text-align:center;
                        font-size: 30px;
                        color: #fff;
                    }

                    &:nth-child(1){
                        margin-left: 0px;
                    }
                }
            }
            .show_more {
                display: block;
                margin: 0 auto;
                margin-bottom: 70px;
                width: 80px;
                cursor: pointer;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    .parter {
        width: 100%;

        .inner {
            width: 1190px;
            margin: 0 auto;
            height: 100%;
            padding-top: 30px;
            padding-bottom: 50px;

            ul {
                width: 100%;

                li {
                    display: block;
                    float: left;
                    margin-left: 22px;

                    .title {
                        color: #397dce;
                        font-family: robocom;
                        font-size: 20px;
                        line-height: 50px;
                        display: block;
                        font-weight: bold;
                    }

                    .logo {
                        display: block;
                        float: left;
                        width: 70px;
                        height: 70px;

                        img {
                            width: 100%;
                        }
                    }

                    &:nth-child(1){
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}
