.warp {
    width: 100%;
    display: block;

    .banner {
        width: 100%;
        height: 585px;
        display: block;
        position: relative;
        margin-bottom: 70px;

        .img {
            width: 100%;
            height: 585px;
            display: block;

            li {
                display: none;
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;

                img {
                    position: absolute;
                    display: block;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    filter: blur(0px);
                }
            }

            .active {
                display: block;
            }
        }

        .nav-img {
            position: absolute;
            left: 50%;
            bottom: 100px;
            transform: translateX(-50%);
            z-index: 99;

            li {
                width: 10px;
                height: 10px;
                margin-right: 15px;
                background: #fff;
                float: left;
                cursor: pointer;
            }

            .active {
                background: red;
            }
        }

        .model {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 9;
            background: rgba(0, 0, 0, 0.3);
            opacity: 0;

            .sp1 {
                font-size: 30px;
                display: block;
                text-align: center;
                margin-top: 200px;
                color: #fff;
                font-family: robocom;
            }

            .sp2 {
                font-size: 30px;
                display: block;
                text-align: center;
                margin-top: 20px;
                color: #fff;
                font-family: robocom;
            }

            .sp3 {
                width: 128px;
                border: 1px solid #fff;
                background: #fff;
                height: 34px;
                display: block;
                text-align: center;
                line-height: 34px;
                font-size: 15px;
                margin: 0 auto;
                margin-top: 20px;
                background: rgba(255, 255, 255, 0.5);
                color: #fff;
                cursor: pointer;
                font-family: robocom;
            }
        }
    }


    .info {
        width: 1190px;
        margin: 0 auto;
        margin-bottom: 60px;

        .item {
            width: 548px;
            height: 323px;
            display: block;
            float: left;
            transform: translateY(0px);
            transition: all 0.5s;
            margin-left: 85px;
            margin-bottom: 50px;
            padding-bottom: 50px;
            position: relative;

            .all {
                width: 100%;
                height: 100%;
                cursor: pointer;

                .bg {
                    width: 320px;
                    height: 320px;
                    float: right;
                    display: block;
                }

                .intro {
                    width: 226px;
                    height: 320px;
                    display: block;
                    float: left;
                    background: #3c3c3c;
                    border-left: 10px solid #0088ff;
                    box-sizing: border-box;
                    position: relative;

                    span {
                        font-family: robocom;
                        letter-spacing: 1px;
                        display: block;
                        line-height: 58px;
                        font-size: 30px;
                        color: #fff;
                        display: block;
                        text-align: left;
                        margin: 20px;
                        font-weight: bold;
                        margin-top: 40px;
                    }

                    p {
                        font-family: robocom;
                        text-align: center;
                        display: block;
                        font-size: 13px;
                        color: #fff;
                        display: block;
                        text-align: left;
                        position: absolute;
                        left: 14px;
                        bottom: 50px;
                    }
                }
            }

            &:hover {
                transform: translateY(-5px);
            }

            &:nth-child(2n+1) {
                margin-left: 0px;
            }

            &:nth-child(4n-3) {
                a {
                    .intro {
                        border-left: 10px solid red;
                    }
                }
            }

            &:nth-child(4n-4) {
                a {
                    .intro {
                        border-left: 10px solid red;
                    }
                }
            }

            .href {
                display: flex;
                margin-top: 5px;

                a {
                    cursor: pointer;
                    flex: 1;

                    img {
                        width: 101%;
                    }
                }
            }

            .item_model {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 548px;
                height: 320px;
                z-index: 9;
                background: rgba(0, 0, 0, 0.6);
                opacity: 0;

                .toCompetition {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid #fff;
                    background: #fff;
                    padding: 5px 18px;
                    display: block;
                    text-align: center;
                    line-height: 34px;
                    font-size: 15px;
                    background: rgba(255, 255, 255, 0.3);
                    color: #fff;
                    cursor: pointer;
                    font-family: robocom;
                    border-radius: 5px;
                    font-weight: bold;
                }
            }
        }
    }
}
