.warp {
  width: 1280px;
  margin: 0 auto;
}
.warp .banner {
  width: 100%;
  height: 500px;
  display: block;
  position: relative;
  margin-bottom: 90px;
}
.warp .banner .img {
  width: 100%;
  height: 500px;
  display: block;
  overflow: hidden;
}
.warp .banner .img li {
  display: none;
  width: 100%;
  height: 100%;
}
.warp .banner .img li img {
  width: 1450px;
  height: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
.warp .banner .img .active {
  display: block;
}
.warp .banner .nav-img {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}
.warp .banner .nav-img li {
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background: #fff;
  border-radius: 50%;
  float: left;
  cursor: pointer;
}
.warp .banner .nav-img .active {
  background: #0195eb;
}
.warp .info {
  width: 1280px;
  margin: 0 auto;
  margin-top: 60px;
}
.warp .info .left {
  width: 200px;
  display: block;
  float: left;
  margin-left: 200px;
}
.warp .info .left .title {
  line-height: 27px;
  height: 27px;
  color: #26517e;
  font-size: 27px;
  font-weight: bolder;
}
.warp .info .left .info-nav {
  width: 100px;
  margin-top: 40px;
}
.warp .info .left .info-nav li {
  line-height: 64px;
  color: black;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}
.warp .info .left .info-nav .active {
  color: #fff;
  background: #0088ff;
}
.warp .info .right {
  display: block;
  float: left;
  width: 700px;
}
.warp .info .right .box {
  width: 100%;
  display: none;
  padding-bottom: 60px;
}
.warp .info .right .box ul {
  width: 100%;
}
.warp .info .right .box ul li {
  width: 100%;
  display: block;
  padding: 20px 0px;
  border-bottom: 1px solid #ccc;
}
.warp .info .right .box ul li img {
  width: 240px;
  height: 140px;
  display: block;
  float: left;
  margin-right: 32px;
}
.warp .info .right .box ul li .sp1 {
  color: #0088ff;
  font-size: 14px;
  font-weight: bolder;
}
.warp .info .right .box ul li .sp2 {
  display: block;
  margin-top: 10px;
  line-height: 15px;
}
.warp .info .right .active {
  display: block;
}
