.top {
  width: 100%;
  height: 105px;
}
.top .inner {
  width: 1190px;
  height: 105px;
  position: relative;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: 20px 50px 0px 50px;
}
.top .inner .logo {
  display: block;
  float: left;
}
.top .inner .logo img {
  height: 80px;
  margin-left: 25px;
}
.top .inner .nav {
  display: block;
  float: left;
  height: 85px;
  margin-left: 30px;
}
.top .inner .nav li {
  display: block;
  float: left;
  margin: 0px 30px;
  height: 85px;
}
.top .inner .nav li a {
  cursor: pointer;
  font-family: robocom;
  font-size: 14px;
  padding: 10px 10px;
  border-bottom: 4px solid #fff;
  transition: all 0.5s;
  margin-top: 37px;
  display: block;
  font-weight: bold;
}
.top .inner .nav li a:hover {
  color: #397dce;
  border-bottom: 4px solid #397dce;
}
.top .inner .nav .active a {
  color: #397dce;
  border-bottom: 4px solid #397dce;
}
.top .inner .search {
  display: block;
  float: right;
  width: 60px;
  margin-top: 32px;
  cursor: pointer;
}
.top .inner .search img {
  width: 100%;
}
.top .inner .user-dialog {
  position: absolute;
  top: 0px;
  right: 50px;
  height: 35px;
}
.top .inner .user-dialog .change {
  color: #397dce;
  font-family: robocom;
  font-size: 12px;
  display: block;
  float: left;
  margin-top: 21px;
  cursor: pointer;
}
.top .inner .user-dialog .noLogin {
  display: inline-block;
}
.top .inner .user-dialog .noLogin a {
  cursor: pointer;
  margin-top: 12px;
  display: block;
  float: left;
  margin-left: 10px;
}
.top .inner .user-dialog .login {
  display: none;
}

.totop {
  position: fixed;
  right: 50px;
  bottom: 100px;
  display: none;
}
.totop img {
  width: 100%;
  /* height: 50px; */
  cursor: pointer;
}

.footer {
  width: 100%;
}
.footer .top {
  height: 40px;
  width: 100%;
  background: #397dce;
}
.footer .top .inner {
  width: 1190px;
  height: 40px;
  padding: 0;
}
.footer .top .inner p {
  font-family: robocom;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  line-height: 40px;
  letter-spacing: 1px;
}
.footer .top .inner span {
  font-family: robocom;
  font-size: 12px;
  color: #fff;
  line-height: 40px;
  margin-left: 30px;
  letter-spacing: 1px;
  padding-left: 20px;
}
.footer .top .inner .sp2 {
  background: url("/assets/img/common/tel.png") no-repeat left;
}
.footer .top .inner .sp3 {
  background: url("/assets/img/common/eee.png") no-repeat left;
}
.footer .top .inner .sp4 {
  background: url("/assets/img/common/mail.png") no-repeat left;
}
.footer .top .inner .sp5 {
  background: url("/assets/img/common/address.png") no-repeat left;
}
.footer .bottom {
  height: 160px;
  width: 100%;
  background: #323232;
}
.footer .bottom .inner {
  width: 1190px;
  height: 160px;
  padding: 0;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  box-sizing: border-box;
}
.footer .bottom .inner .sp1 {
  line-height: 50px;
  color: #a0a0a0;
  font-size: 14px;
  margin-bottom: 20px;
  display: block;
}
.footer .bottom .inner .code {
  position: absolute;
  right: 0px;
  top: 30px;
}
