.warp {
  width: 100%;
  display: block;
}
.warp .banner {
  width: 100%;
  height: 585px;
  display: block;
  position: relative;
  margin-bottom: 70px;
}
.warp .banner .img {
  width: 100%;
  height: 585px;
  display: block;
}
.warp .banner .img li {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.warp .banner .img li img {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  filter: blur(0px);
}
.warp .banner .img .active {
  display: block;
}
.warp .banner .nav-img {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  z-index: 99;
}
.warp .banner .nav-img li {
  width: 10px;
  height: 10px;
  margin-right: 15px;
  background: #fff;
  float: left;
  cursor: pointer;
}
.warp .banner .nav-img .active {
  background: red;
}
.warp .banner .model {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}
.warp .banner .model .sp1 {
  font-size: 30px;
  display: block;
  text-align: center;
  margin-top: 200px;
  color: #fff;
  font-family: robocom;
}
.warp .banner .model .sp2 {
  font-size: 30px;
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-family: robocom;
}
.warp .banner .model .sp3 {
  width: 128px;
  border: 1px solid #fff;
  background: #fff;
  height: 34px;
  display: block;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
  font-family: robocom;
}
.warp .cut {
  width: 100%;
  height: 0px;
  border: 1px solid #ccc;
}
.warp .inner {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
  padding: 50px 50px;
  box-sizing: border-box;
  padding-bottom: 100px;
}
.warp .inner img {
  vertical-align: middle;
}
.warp .inner .error {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  display: block;
  color: #f90303;
  letter-spacing: 2px;
  display: none;
}
.warp .inner h1 {
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #323232;
}
.warp .inner .label {
  padding: 5px 12px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 40px;
  float: left;
  display: inline;
  letter-spacing: 1px;
  background-color: #18376b;
  margin-left: 100px;
}
.warp .inner .content {
  display: block;
}
.warp .inner .creat_at {
  color: #999;
  font-size: 14px;
  float: left;
  letter-spacing: 1px;
  line-height: 20px;
  padding-left: 20px;
  line-height: 28px;
  margin-left: 20px;
}
.warp .inner .rule {
  color: #999;
  font-size: 14px;
  float: left;
  letter-spacing: 1px;
  line-height: 20px;
  padding-left: 20px;
  line-height: 28px;
  margin-left: 20px;
}
.warp .inner .times {
  color: #999;
  font-size: 14px;
  float: left;
  letter-spacing: 1px;
  line-height: 20px;
  padding-left: 20px;
  line-height: 28px;
  margin-left: 20px;
}
.warp .inner .content p {
  color: red;
}
.warp .inner .content p img {
  vertical-align: middle;
}
